/** Normalisation **/
a {
    text-decoration: none;
}
a:visited {
    color: white;
}

/** Containers **/
.idx-pg-cntr {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 1240px;
}

.idx-left-nav {
    margin: 40px 50px 0 3px;
    height: 600px;
    width: 240px;
    background: rgb(20, 25, 45);
    border-radius: 30px;
    box-shadow: 0px 0px 5px 1px lime;
}

.idx-main-cntr {
    margin: 40px 0 0 0;
    height: 600px;
    background: rgb(20, 25, 45);
    border-radius: 30px;
    box-shadow: 0px 0px 5px 1px lime;
    width: 1000px;
    color: white;
}

/** Left-Side Navigation **/
/** Login & Register Form **/
#form-login form, #form-reg form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h4 {
    margin: 10px auto;
    font-size: 1.5rem;
    font-family: "Rowdy";
    letter-spacing: 2px;
    color: white;
    text-shadow: 3px 3px 5px black;
}

#form-login form input[type="password"], #form-login form input[type="text"],
#form-reg form input[type="password"], #form-reg form input[type="text"], #form-reg form input[type="email"] {
    margin: 5px auto;
    padding: 3px;
    padding-left: 10px;
    width: 80%;
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
}

.btn-submit {
    width: 45%;
    margin: 5px auto;
    padding: 7.5px;
    font-weight: 800;
    letter-spacing: 1.5px;
    color: white;
    background-color: #ce2525;
    border: none;
    border-radius: 300px;
}

.btn-submit:hover {
    background-color: #ce3e25;
    cursor: pointer;
}

/** Register Account **/
.register-password {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    font-size: 0.8rem;
    text-align: center;
    color: white;
}

.register-password p {
    margin: 5px 0;
}

.register-password p:hover {
    color: rgb(180, 180, 255);
    cursor: pointer;
}